.header {
    grid-area: "header";
    background-color: #383232;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .brand a {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .hamburger {
        font-size: 2rem;
        padding: 0.5rem;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    a {
        color:  #fff;
        display: inline-block;
        margin-right: 1rem;
        text-decoration: none; 
    }
    a:hover{
        color: #d22929
    }
    
}