@font-face {
    font-family: "BalsamiqSans";
    src: url("/src/assets/fonts/BalsamiqSans-Regular.ttf");
}
@font-face {
    font-family: "BalsamiqSans";
    src: url("/src/assets/fonts/BalsamiqSans-Bold.ttf");
    font-weight: 700;
}
body {
    margin: 0;
    padding: 0;
    font-family: "BalsamiqSans", sans-serif;
}
.container {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 3rem auto minmax(2rem, 2rem);
    height: 100vh;
}

.main {
    grid-area: "main";
}
.footer {
    grid-area: "footer";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383232;
    color: #fff;
}