.product {
    display: flex;
    justify-content: normal;
    align-items: flex-start;
    flex-wrap: wrap;
         
}
.backlink {
    padding: 1rem;
    a{
        text-decoration: none;
        color: #31b541;
    }
    a:hover{
        color: #d22929
    }
}
